(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2009 6 15 19 38 19)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 9.1.03i; Cores Update # 3"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2007 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "InstanceName = fifo_U2X_2C_1024B_padded ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell BUFG (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell IBUF (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell IBUFG (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell OBUF (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell fifo_U2X_2C_1024B (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port (rename din_0_ "din<0>") (direction INPUT))
                   (port (rename din_1_ "din<1>") (direction INPUT))
                   (port (rename din_2_ "din<2>") (direction INPUT))
                   (port (rename din_3_ "din<3>") (direction INPUT))
                   (port (rename din_4_ "din<4>") (direction INPUT))
                   (port (rename din_5_ "din<5>") (direction INPUT))
                   (port (rename din_6_ "din<6>") (direction INPUT))
                   (port (rename din_7_ "din<7>") (direction INPUT))
                   (port (rename din_8_ "din<8>") (direction INPUT))
                   (port (rename din_9_ "din<9>") (direction INPUT))
                   (port (rename din_10_ "din<10>") (direction INPUT))
                   (port (rename din_11_ "din<11>") (direction INPUT))
                   (port (rename din_12_ "din<12>") (direction INPUT))
                   (port (rename din_13_ "din<13>") (direction INPUT))
                   (port (rename din_14_ "din<14>") (direction INPUT))
                   (port (rename din_15_ "din<15>") (direction INPUT))
                   (port rd_clk (direction INPUT))
                   (port rd_en (direction INPUT))
                   (port rst (direction INPUT))
                   (port wr_clk (direction INPUT))
                   (port wr_en (direction INPUT))
                   (port almost_empty (direction OUTPUT))
                   (port almost_full (direction OUTPUT))
                   (port (rename dout_0_ "dout<0>") (direction OUTPUT))
                   (port (rename dout_1_ "dout<1>") (direction OUTPUT))
                   (port (rename dout_2_ "dout<2>") (direction OUTPUT))
                   (port (rename dout_3_ "dout<3>") (direction OUTPUT))
                   (port (rename dout_4_ "dout<4>") (direction OUTPUT))
                   (port (rename dout_5_ "dout<5>") (direction OUTPUT))
                   (port (rename dout_6_ "dout<6>") (direction OUTPUT))
                   (port (rename dout_7_ "dout<7>") (direction OUTPUT))
                   (port (rename dout_8_ "dout<8>") (direction OUTPUT))
                   (port (rename dout_9_ "dout<9>") (direction OUTPUT))
                   (port (rename dout_10_ "dout<10>") (direction OUTPUT))
                   (port (rename dout_11_ "dout<11>") (direction OUTPUT))
                   (port (rename dout_12_ "dout<12>") (direction OUTPUT))
                   (port (rename dout_13_ "dout<13>") (direction OUTPUT))
                   (port (rename dout_14_ "dout<14>") (direction OUTPUT))
                   (port (rename dout_15_ "dout<15>") (direction OUTPUT))
                   (port (rename dout_16_ "dout<16>") (direction OUTPUT))
                   (port (rename dout_17_ "dout<17>") (direction OUTPUT))
                   (port (rename dout_18_ "dout<18>") (direction OUTPUT))
                   (port (rename dout_19_ "dout<19>") (direction OUTPUT))
                   (port (rename dout_20_ "dout<20>") (direction OUTPUT))
                   (port (rename dout_21_ "dout<21>") (direction OUTPUT))
                   (port (rename dout_22_ "dout<22>") (direction OUTPUT))
                   (port (rename dout_23_ "dout<23>") (direction OUTPUT))
                   (port (rename dout_24_ "dout<24>") (direction OUTPUT))
                   (port (rename dout_25_ "dout<25>") (direction OUTPUT))
                   (port (rename dout_26_ "dout<26>") (direction OUTPUT))
                   (port (rename dout_27_ "dout<27>") (direction OUTPUT))
                   (port (rename dout_28_ "dout<28>") (direction OUTPUT))
                   (port (rename dout_29_ "dout<29>") (direction OUTPUT))
                   (port (rename dout_30_ "dout<30>") (direction OUTPUT))
                   (port (rename dout_31_ "dout<31>") (direction OUTPUT))
                   (port empty (direction OUTPUT))
                   (port full (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell fifo_U2X_2C_1024B_padded
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename din "din<15:0>") 16 ) (direction INPUT))
   (port ( rename rd_clk "rd_clk") (direction INPUT))
   (port ( rename rd_en "rd_en") (direction INPUT))
   (port ( rename rst "rst") (direction INPUT))
   (port ( rename wr_clk "wr_clk") (direction INPUT))
   (port ( rename wr_en "wr_en") (direction INPUT))
   (port ( rename almost_empty "almost_empty") (direction OUTPUT))
   (port ( rename almost_full "almost_full") (direction OUTPUT))
   (port ( array ( rename dout "dout<31:0>") 32 ) (direction OUTPUT))
   (port ( rename empty "empty") (direction OUTPUT))
   (port ( rename full "full") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance fifo_U2X_2C_1024B_top
      (viewRef view_1 (cellRef fifo_U2X_2C_1024B (libraryRef xilinxun)))
   )
   (instance BU5
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU6
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU7
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU8
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU9
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU10
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU11
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU12
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU13
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU14
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU15
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU16
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU17
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU18
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU19
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU20
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU21
      (viewRef view_1 (cellRef IBUFG (libraryRef xilinxun)))
   )
   (instance BU22
      (viewRef view_1 (cellRef BUFG (libraryRef xilinxun)))
   )
   (instance BU23
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU24
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU25
      (viewRef view_1 (cellRef IBUFG (libraryRef xilinxun)))
   )
   (instance BU26
      (viewRef view_1 (cellRef BUFG (libraryRef xilinxun)))
   )
   (instance BU27
      (viewRef view_1 (cellRef IBUF (libraryRef xilinxun)))
   )
   (instance BU28
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU29
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU30
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU31
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU32
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU33
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU34
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU35
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU36
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU37
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU38
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU39
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU40
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU41
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU42
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU43
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU44
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU45
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU46
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU47
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU48
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU49
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU50
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU51
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU52
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU53
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU54
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU55
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU56
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU57
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU58
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU59
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU60
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU61
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU62
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (instance BU63
      (viewRef view_1 (cellRef OBUF (libraryRef xilinxun)))
   )
   (net N2
    (joined
      (portRef din_0_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU5))
    )
   )
   (net N3
    (joined
      (portRef din_1_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU6))
    )
   )
   (net N4
    (joined
      (portRef din_2_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU7))
    )
   )
   (net N5
    (joined
      (portRef din_3_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU8))
    )
   )
   (net N6
    (joined
      (portRef din_4_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU9))
    )
   )
   (net N7
    (joined
      (portRef din_5_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU10))
    )
   )
   (net N8
    (joined
      (portRef din_6_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU11))
    )
   )
   (net N9
    (joined
      (portRef din_7_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU12))
    )
   )
   (net N10
    (joined
      (portRef din_8_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU13))
    )
   )
   (net N11
    (joined
      (portRef din_9_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU14))
    )
   )
   (net N12
    (joined
      (portRef din_10_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU15))
    )
   )
   (net N13
    (joined
      (portRef din_11_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU16))
    )
   )
   (net N14
    (joined
      (portRef din_12_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU17))
    )
   )
   (net N15
    (joined
      (portRef din_13_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU18))
    )
   )
   (net N16
    (joined
      (portRef din_14_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU19))
    )
   )
   (net N17
    (joined
      (portRef din_15_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU20))
    )
   )
   (net N50
    (joined
      (portRef rd_clk (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU22))
    )
   )
   (net N53
    (joined
      (portRef O (instanceRef BU21))
      (portRef I (instanceRef BU22))
    )
   )
   (net N54
    (joined
      (portRef rd_en (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU23))
    )
   )
   (net N57
    (joined
      (portRef rst (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU24))
    )
   )
   (net N60
    (joined
      (portRef wr_clk (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU26))
    )
   )
   (net N63
    (joined
      (portRef O (instanceRef BU25))
      (portRef I (instanceRef BU26))
    )
   )
   (net N64
    (joined
      (portRef wr_en (instanceRef fifo_U2X_2C_1024B_top))
      (portRef O (instanceRef BU27))
    )
   )
   (net N67
    (joined
      (portRef almost_empty (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU28))
    )
   )
   (net N70
    (joined
      (portRef almost_full (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU29))
    )
   )
   (net N73
    (joined
      (portRef dout_0_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU30))
    )
   )
   (net N74
    (joined
      (portRef dout_1_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU31))
    )
   )
   (net N75
    (joined
      (portRef dout_2_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU32))
    )
   )
   (net N76
    (joined
      (portRef dout_3_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU33))
    )
   )
   (net N77
    (joined
      (portRef dout_4_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU34))
    )
   )
   (net N78
    (joined
      (portRef dout_5_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU35))
    )
   )
   (net N79
    (joined
      (portRef dout_6_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU36))
    )
   )
   (net N80
    (joined
      (portRef dout_7_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU37))
    )
   )
   (net N81
    (joined
      (portRef dout_8_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU38))
    )
   )
   (net N82
    (joined
      (portRef dout_9_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU39))
    )
   )
   (net N83
    (joined
      (portRef dout_10_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU40))
    )
   )
   (net N84
    (joined
      (portRef dout_11_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU41))
    )
   )
   (net N85
    (joined
      (portRef dout_12_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU42))
    )
   )
   (net N86
    (joined
      (portRef dout_13_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU43))
    )
   )
   (net N87
    (joined
      (portRef dout_14_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU44))
    )
   )
   (net N88
    (joined
      (portRef dout_15_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU45))
    )
   )
   (net N89
    (joined
      (portRef dout_16_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU46))
    )
   )
   (net N90
    (joined
      (portRef dout_17_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU47))
    )
   )
   (net N91
    (joined
      (portRef dout_18_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU48))
    )
   )
   (net N92
    (joined
      (portRef dout_19_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU49))
    )
   )
   (net N93
    (joined
      (portRef dout_20_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU50))
    )
   )
   (net N94
    (joined
      (portRef dout_21_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU51))
    )
   )
   (net N95
    (joined
      (portRef dout_22_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU52))
    )
   )
   (net N96
    (joined
      (portRef dout_23_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU53))
    )
   )
   (net N97
    (joined
      (portRef dout_24_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU54))
    )
   )
   (net N98
    (joined
      (portRef dout_25_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU55))
    )
   )
   (net N99
    (joined
      (portRef dout_26_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU56))
    )
   )
   (net N100
    (joined
      (portRef dout_27_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU57))
    )
   )
   (net N101
    (joined
      (portRef dout_28_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU58))
    )
   )
   (net N102
    (joined
      (portRef dout_29_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU59))
    )
   )
   (net N103
    (joined
      (portRef dout_30_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU60))
    )
   )
   (net N104
    (joined
      (portRef dout_31_ (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU61))
    )
   )
   (net N169
    (joined
      (portRef empty (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU62))
    )
   )
   (net N172
    (joined
      (portRef full (instanceRef fifo_U2X_2C_1024B_top))
      (portRef I (instanceRef BU63))
    )
   )
   (net (rename N175 "din<0>")
    (joined
      (portRef (member din 15))
      (portRef I (instanceRef BU5))
    )
   )
   (net (rename N176 "din<1>")
    (joined
      (portRef (member din 14))
      (portRef I (instanceRef BU6))
    )
   )
   (net (rename N177 "din<2>")
    (joined
      (portRef (member din 13))
      (portRef I (instanceRef BU7))
    )
   )
   (net (rename N178 "din<3>")
    (joined
      (portRef (member din 12))
      (portRef I (instanceRef BU8))
    )
   )
   (net (rename N179 "din<4>")
    (joined
      (portRef (member din 11))
      (portRef I (instanceRef BU9))
    )
   )
   (net (rename N180 "din<5>")
    (joined
      (portRef (member din 10))
      (portRef I (instanceRef BU10))
    )
   )
   (net (rename N181 "din<6>")
    (joined
      (portRef (member din 9))
      (portRef I (instanceRef BU11))
    )
   )
   (net (rename N182 "din<7>")
    (joined
      (portRef (member din 8))
      (portRef I (instanceRef BU12))
    )
   )
   (net (rename N183 "din<8>")
    (joined
      (portRef (member din 7))
      (portRef I (instanceRef BU13))
    )
   )
   (net (rename N184 "din<9>")
    (joined
      (portRef (member din 6))
      (portRef I (instanceRef BU14))
    )
   )
   (net (rename N185 "din<10>")
    (joined
      (portRef (member din 5))
      (portRef I (instanceRef BU15))
    )
   )
   (net (rename N186 "din<11>")
    (joined
      (portRef (member din 4))
      (portRef I (instanceRef BU16))
    )
   )
   (net (rename N187 "din<12>")
    (joined
      (portRef (member din 3))
      (portRef I (instanceRef BU17))
    )
   )
   (net (rename N188 "din<13>")
    (joined
      (portRef (member din 2))
      (portRef I (instanceRef BU18))
    )
   )
   (net (rename N189 "din<14>")
    (joined
      (portRef (member din 1))
      (portRef I (instanceRef BU19))
    )
   )
   (net (rename N190 "din<15>")
    (joined
      (portRef (member din 0))
      (portRef I (instanceRef BU20))
    )
   )
   (net (rename N191 "rd_clk")
    (joined
      (portRef rd_clk)
      (portRef I (instanceRef BU21))
    )
   )
   (net (rename N192 "rd_en")
    (joined
      (portRef rd_en)
      (portRef I (instanceRef BU23))
    )
   )
   (net (rename N193 "rst")
    (joined
      (portRef rst)
      (portRef I (instanceRef BU24))
    )
   )
   (net (rename N194 "wr_clk")
    (joined
      (portRef wr_clk)
      (portRef I (instanceRef BU25))
    )
   )
   (net (rename N195 "wr_en")
    (joined
      (portRef wr_en)
      (portRef I (instanceRef BU27))
    )
   )
   (net (rename N196 "almost_empty")
    (joined
      (portRef almost_empty)
      (portRef O (instanceRef BU28))
    )
   )
   (net (rename N197 "almost_full")
    (joined
      (portRef almost_full)
      (portRef O (instanceRef BU29))
    )
   )
   (net (rename N198 "dout<0>")
    (joined
      (portRef (member dout 31))
      (portRef O (instanceRef BU30))
    )
   )
   (net (rename N199 "dout<1>")
    (joined
      (portRef (member dout 30))
      (portRef O (instanceRef BU31))
    )
   )
   (net (rename N200 "dout<2>")
    (joined
      (portRef (member dout 29))
      (portRef O (instanceRef BU32))
    )
   )
   (net (rename N201 "dout<3>")
    (joined
      (portRef (member dout 28))
      (portRef O (instanceRef BU33))
    )
   )
   (net (rename N202 "dout<4>")
    (joined
      (portRef (member dout 27))
      (portRef O (instanceRef BU34))
    )
   )
   (net (rename N203 "dout<5>")
    (joined
      (portRef (member dout 26))
      (portRef O (instanceRef BU35))
    )
   )
   (net (rename N204 "dout<6>")
    (joined
      (portRef (member dout 25))
      (portRef O (instanceRef BU36))
    )
   )
   (net (rename N205 "dout<7>")
    (joined
      (portRef (member dout 24))
      (portRef O (instanceRef BU37))
    )
   )
   (net (rename N206 "dout<8>")
    (joined
      (portRef (member dout 23))
      (portRef O (instanceRef BU38))
    )
   )
   (net (rename N207 "dout<9>")
    (joined
      (portRef (member dout 22))
      (portRef O (instanceRef BU39))
    )
   )
   (net (rename N208 "dout<10>")
    (joined
      (portRef (member dout 21))
      (portRef O (instanceRef BU40))
    )
   )
   (net (rename N209 "dout<11>")
    (joined
      (portRef (member dout 20))
      (portRef O (instanceRef BU41))
    )
   )
   (net (rename N210 "dout<12>")
    (joined
      (portRef (member dout 19))
      (portRef O (instanceRef BU42))
    )
   )
   (net (rename N211 "dout<13>")
    (joined
      (portRef (member dout 18))
      (portRef O (instanceRef BU43))
    )
   )
   (net (rename N212 "dout<14>")
    (joined
      (portRef (member dout 17))
      (portRef O (instanceRef BU44))
    )
   )
   (net (rename N213 "dout<15>")
    (joined
      (portRef (member dout 16))
      (portRef O (instanceRef BU45))
    )
   )
   (net (rename N214 "dout<16>")
    (joined
      (portRef (member dout 15))
      (portRef O (instanceRef BU46))
    )
   )
   (net (rename N215 "dout<17>")
    (joined
      (portRef (member dout 14))
      (portRef O (instanceRef BU47))
    )
   )
   (net (rename N216 "dout<18>")
    (joined
      (portRef (member dout 13))
      (portRef O (instanceRef BU48))
    )
   )
   (net (rename N217 "dout<19>")
    (joined
      (portRef (member dout 12))
      (portRef O (instanceRef BU49))
    )
   )
   (net (rename N218 "dout<20>")
    (joined
      (portRef (member dout 11))
      (portRef O (instanceRef BU50))
    )
   )
   (net (rename N219 "dout<21>")
    (joined
      (portRef (member dout 10))
      (portRef O (instanceRef BU51))
    )
   )
   (net (rename N220 "dout<22>")
    (joined
      (portRef (member dout 9))
      (portRef O (instanceRef BU52))
    )
   )
   (net (rename N221 "dout<23>")
    (joined
      (portRef (member dout 8))
      (portRef O (instanceRef BU53))
    )
   )
   (net (rename N222 "dout<24>")
    (joined
      (portRef (member dout 7))
      (portRef O (instanceRef BU54))
    )
   )
   (net (rename N223 "dout<25>")
    (joined
      (portRef (member dout 6))
      (portRef O (instanceRef BU55))
    )
   )
   (net (rename N224 "dout<26>")
    (joined
      (portRef (member dout 5))
      (portRef O (instanceRef BU56))
    )
   )
   (net (rename N225 "dout<27>")
    (joined
      (portRef (member dout 4))
      (portRef O (instanceRef BU57))
    )
   )
   (net (rename N226 "dout<28>")
    (joined
      (portRef (member dout 3))
      (portRef O (instanceRef BU58))
    )
   )
   (net (rename N227 "dout<29>")
    (joined
      (portRef (member dout 2))
      (portRef O (instanceRef BU59))
    )
   )
   (net (rename N228 "dout<30>")
    (joined
      (portRef (member dout 1))
      (portRef O (instanceRef BU60))
    )
   )
   (net (rename N229 "dout<31>")
    (joined
      (portRef (member dout 0))
      (portRef O (instanceRef BU61))
    )
   )
   (net (rename N230 "empty")
    (joined
      (portRef empty)
      (portRef O (instanceRef BU62))
    )
   )
   (net (rename N231 "full")
    (joined
      (portRef full)
      (portRef O (instanceRef BU63))
    )
   )
))))
(design fifo_U2X_2C_1024B_padded (cellRef fifo_U2X_2C_1024B_padded (libraryRef test_lib))
  (property X_CORE_INFO (string "fifo_generator_v3_3, Coregen 9.1.03i_ip3"))
  (property PART (string "xc3s1500-fg676-4") (owner "Xilinx")))
)
